// import css reset
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// import styling variables


// modules
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
}

.btn {
    display: inline-block;

    padding: 0.875rem 1.625rem;
    border: none;
    color: #fff;
    font-size: 0.875rem;
    letter-spacing: 0.0625rem;
    border-radius: 0.25rem;
    background-color: #05b993;
}

.toggle {
    display: none;
}

// header 
.header {
    padding: 1rem 2rem;
    box-shadow: 5px 0 20px rgba(87, 87, 87, .1);
    

    .header-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center !important;


        // logo
        .logo {
            color: #705ecf;
            font-size: 32px;
            font-weight: 600;
            text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);

            h1, i {
            display: inline-block;
            }
        }

        // nav

            // menu
            .menu {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                li {
                    letter-spacing: .5px;
                    margin: 0 14px;

                    &:hover {
                        color: #05b993 !important;
                    }
                }

                .dropdown {

                    .dropdown-content {
                        display: hidden;
                        color: white;
                        background: black;
                        display: flex;
                        flex-direction: column;
                        z-index: 1;
                        position: absolute;
                        border-radius: 4px;
                        margin-top:.5rem;
                        padding: .5rem;

                        a {
                            padding: .5rem;
                        }
                    }
                }
                    
            }

        // search
        .search {
            display: inline-block;

            form {
                outline: none;
                color: #000;
                font-size: 13px;
                border: none;
                letter-spacing: 1px;
                background: #f7f7f7;

                input {
                    outline: none;
                    padding: 12px 15px;
                    color: #000;
                    font-size: 13px;
                    border: none;
                    letter-spacing: 1px;
                    background: #f7f7f7;
                    font-weight: 400;
                    overflow: visible;
                }

                button {
                    background: #05b993;
                    color: #fff;
                    border: none;
                    font-size: 14px;
                    padding: 10px 15px;
                    display: inline-block;
                    font-weight: 400;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    line-height: 1.5;
                    cursor: pointer;
                }
            }
        }

        // download 
        .download {
            background: #705ecf;
            border-radius: 4px;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            border: 1px solid transparent;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            line-height: 1.5;

            a {

                .fa-cloud-download-alt {
                    color: #fff;
                    font-size: 16px;
                    line-height: 28px;
                }
            }
        }
    }
}

// banner

.banner {
    padding: 4vw 0;
    background: url("../images/inner.png") no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;

    .banner-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        

        .banner-content {
            padding-top: 7vw; 
            font-size: 4rem;
            font-weight: 600;
            color: #202428;
            line-height: 1.2;

            h1 {
                margin: 20px 0;

                span {
                color: #05b993;
                }
            }

            p {
                font-size: 1rem;
                font-weight: 400;
                color: #51585f;
                max-width: 800px;
                margin: 1.25rem 0;
                letter-spacing: 0.0625rem;
                line-height: 1.9;
            }
        }
    }
}



// mid
.mid {
    padding: 5rem;
    background: #f8f9fa;

    .mid-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 'mid-grid-one mid-grid-two mid-grid-three';
        grid-column-gap: 2rem;

        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;

        .mid-grid-one,
        .mid-grid-two,
        .mid-grid-three {
            padding: 4em 4em;
            box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
            text-align: center;
            background: white;
        }

        .mid-grid-one {
            grid-area: mid-grid-one;
        }

        .mid-grid-two {
            grid-area: mid-grid-two;
        }

        .mid-grid-three {
            grid-area: mid-grid-three;
        }

        img {
            max-width: 100%;
            width: 6rem;
            height: auto;
            border-radius: 50%;
            vertical-align: middle;
            border-style: none;
        }

        a {
            color: #705ecf;
            font-weight: 600;
            font-size: 15px;
            display: inline-block;
            letter-spacing: 1px;
            cursor: pointer;

            border: 1px solid transparent;
            padding: 0.375rem 0.75rem;

            margin-top: 3rem;
        }

        h1 {
            font-size: 22px;
            color: #000;
            margin: 1.5rem auto;
            font-weight: 500;
            line-height: 1.2;
        }

        p {
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 1.9;
            color: #51585f;
        }
    }
}


// experience
.exp {
    padding: 5rem;

    .exp-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;

        .exp-content {
            padding-right: 7vw;

            h5 {
                color: rgb(5, 185, 147);
                letter-spacing: 2px;
                margin-bottom: 8px;
                font-size: 15px;
                font-family: inherit;
                font-weight: 500;
                line-height: 1.2;
            }

            h1 {
                font-size: 34px;
                line-height: 1.4;
                font-weight: 600;
            }

            p {
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
                padding: 0;
                font-size: 14px;
                letter-spacing: 1px;
                line-height: 1.9;
                color: #51585f;
            }

            ul {
                list-style-type: disc;
                list-style-position: inside;

                li {
                    margin-bottom: 10px;
                    color: rgb(0, 0, 0);
                    letter-spacing: 1px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.5;
                }
            }

            .btn {
                margin-top: 3rem;
            }
        }
    }
}

// services
.services {
    background: #f8f9fa;
    // background: yellow;
    text-align: center;
    padding: 6rem 0;

    .services-content{
        
        h1 {
            color: #111;
            font-size: 40px;
            font-weight: 700;
            line-height: 1.2;
        }

        p {
            font-size: 16px;
            margin: 1rem auto 3rem auto;
            letter-spacing: 1px;
            line-height: 1.9;
            color: #51585f;

            max-width: 800px;
        }
    }

    .services-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 2rem;

        .business-growth,
        .fin-planning,
        .business-services {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: white;

            padding: 2.5rem 2rem;
            box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.3);
        }
        .fin-planning,
        .business-services {
            margin-right: 1rem;
        }

        .bg-i-bg {
            display: grid;
            width: 75px;
            height: 75px;
            background: #FF3A46;
            border-radius: 50%;
            justify-content: center;
            align-items: center;

            .fa-chart-line {
                font-size: 34px;
                color: #fff;
                line-height: 75px;
            }
        }

        .fp-i-bg {
            display: grid;
            width: 75px;
            height: 75px;
            background: #00ebac;
            border-radius: 50%;
            justify-content: center;
            align-items: center;

            .fa-dollar-sign {
                font-size: 34px;
                color: #fff;
                line-height: 75px;
            }
        }

        .bs-i-bg {
            display: grid;
            width: 75px;
            height: 75px;
            background: #9657f6;
            border-radius: 50%;
            justify-content: center;
            align-items: center;

            .fa-lightbulb {
                font-size: 34px;
                color: #fff;
                line-height: 75px;
            }
        }

        h1 {
            font-size: 22px;
            color: #000;
            margin: 1.5rem auto;
            font-weight: 500;
            line-height: 1.2;
        }

        p {
            padding: 0;
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 1.9;
            color: #51585f;
        }
    }
}

// facts
.facts {
    padding: 6rem 0;

    .facts-grid {
        display: grid;
        grid-template-columns: 43% 55%;
        grid-template-rows: auto;
        padding-left: 1.5rem;

        .facts-content {
            
            .content-text {
                text-align: left;

                h3 {
                    font-size: 2rem;
                    font-weight: 700;
                    margin-bottom: 1rem;
                }
                p {
                    margin-bottom: 1rem;

                    &:nth-child(even) {
                        font-size: 1.2rem;
                        color: #333;
                        letter-spacing: .06rem;
                        line-height: 1.9;
                    }
                    &:nth-child(odd) {
                        font-size: .8rem;
                        color: #51585f;
                        letter-spacing: .06rem;
                        line-height: 1.9;
                    }
                    
                }
            }

            .stats {

                .stats-grid {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);

                    h4 {
                        font-size: 1.875rem;
                        font-weight: 600;
                        margin-top: 3rem;
                    }
                    p {
                        margin-top: 0.625rem;
                        font-size: 0.875rem;
                        letter-spacing: 0.0625rem;
                        line-height: 1.9;
                        color: #51585f;
                    }
                }
            }
        }
    }
}

// Partner
.partners {
    text-align: center;
    padding: 6rem 0;
    background: url("../images/inner.png") no-repeat;
    background-size: contain;

    .partners-content {
        text-align: center;
        
        h3 {
            color: #111;
            font-size: 2.5rem;
            font-weight: 700;
        }

        p {
            max-width: 800px;
            font-size: 1rem;
            margin: 1rem auto 3rem auto;
        }
    }

    .partners-grid {
        padding: 2rem 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        font-weight: 600;
        
        .fa-angellist,
        .fa-opencart,
        .fa-lastfm,
        .fa-openid,
        .fa-skyatlas,
        .fa-ravelry {
            font-size: 3rem;
        }

        h4 {
            font-size: 1rem;
            text-transform: uppercase;
            margin-top: 1.5rem;
        }
    }

}

// footer
.subscribe {
    background-color: #f8f9fa;
    border-bottom: .5px solid lightgrey;
    
    .subscribe-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 7rem;
        width: 60%;
        margin: 0 auto;

        .subscribe-logo {
            display: grid;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width:5rem;
            height: 5rem;
            background-color: #05b993;
            margin-bottom: 1.5rem;
            color: white;
            line-height: 70px;
            font-size: 24px;
        }

        .subscribe-text {
            text-align: center;

            .subscribe-h1 {
                margin-bottom: 1.5rem;
                color: #111;
                font-size: 40px;
                font-weight: 700;
                line-height: 1.2;
            }

            p {
                font-size: 16px;
                letter-spacing: 1px;
                line-height: 1.9;
                color: #51585f;

                margin-top: 1rem;
                margin-bottom: 3rem;
            }

            .input-div {
                display: flex;
                margin-top: 4rem;
                box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);

                .subscribe-input {
                    width: 70%;
                    font-size: 15px;
                    letter-spacing: 1px;
                    color: #000;
                    padding: 14px 20px;
                }
                .subscribe-btn {
                    width:30%;
                    border: none;
                    background: #705ecf;
                    letter-spacing: 1px;
                    color: #fff;
                    padding: 14px 20px;
                    font-size: 16px;
                }
            }
        }
    }
}

// footer 

.footer{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;

    background-color: #f8f9fa;
    // border-top: 1px solid #dee2e6; 

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;

    .social-icons{
        width: 10rem;

        ul{
            li{
                display: inline-block;
                margin-right: .5rem;
                color: #705ecf;
                margin: 0 8px;
                font-size: 16px;
            }
        }
    }
    .small{
        margin: 0;
        padding: 0;
        font-size: 14px;
        letter-spacing: 1px;
        color: #343a40;

        span {
            font-weight: bold;
        }
    }

    .teleport-container {
        color: #05b993;
        font-size: 1.5rem;
    }
}

//
@media screen and (max-width: 1200px) {
    .main-nav {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
    }
    .menu {
        display: inline-block;
        /* color: #18bc9c; */
    }
    .toggle {
        display: block;
    }
    #checkbox:checked ~ .main-nav {
        display: block;
    }
}